In [62]:
import json
import requests
import pandas as pd
import numpy as np

In [63]:
url = 'https://raw.githubusercontent.com/hjorturlarsen/IMDB-top-100/master/data/movies.json'

In [64]:
r=requests.get(url)

In [65]:
print(r)

<Response [200]>

In [66]:
df = pd.read_json(url)

In [67]:
df.head(5)

                            title  rank         id
0        The Shawshank Redemption     1  tt0111161
1                   The Godfather     2  tt0068646
2          The Godfather: Part II     3  tt0071562
3                    Pulp Fiction     4  tt0110912
4  The Good, the Bad and the Ugly     5  tt0060196

In [68]:
df.shape

(100, 3)

In [69]:
df.isnull().sum()

title    0
rank     0
id       0
dtype: int64

In [70]:
df.duplicated().sum()

0

In [71]:
movie_ranking = df.sort_values(by='rank')
movie_ranking = movie_ranking.set_index('rank')
movie_ranking = movie_ranking.drop(columns='id')
movie_ranking

                                   title
rank
1               The Shawshank Redemption
2                          The Godfather
3                 The Godfather: Part II
4                           Pulp Fiction
5         The Good, the Bad and the Ugly
...                                  ...
96           Witness for the Prosecution
97                             The Sting
98                         The Apartment
99                Grave of the Fireflies
100   Indiana Jones and the Last Crusade

[100 rows x 1 columns]